body {
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  gap: 20px;
}

section {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  min-width: 100px;
  padding: 3px 5px;
}

.form-group {
  display: grid;
}

.controls {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
